body {
  background-color: #ccc !important;
}

.bg-light {
  background-color: $light;
}

.bg-dark {
  background-color: $dark !important;
}

.bg-black {
  background-color: #000;
}

.bg-danger {
  background-color: $danger;
 }

.bg-aq {
  background-color: mediumaquamarine;
}

.bg-red {
  background-color: #fc3d39;
}