body {
  background-color: #fff;
}

.bg-greem {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-lighter {
  background-color: $lighter;
}

.bg-dark {
  background-color: $dark;
}

.bg-darker {
  background-color: $darker;
}

.bg-danger {
  background-color: $danger !important;
}

.bg-title {
   background: url("/images/background-header.png") no-repeat center center/cover;
 }

.bg-clients {
  background: url("/images/background-clients.png") no-repeat center center/cover;
}

.bg-touch {
  background: url("/images/background-touch.png") no-repeat center center/cover;
}

.bg-transparent {
  background-color: transparent !important;
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
  background-color: darken($primary, 20%) !important;
}