.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  justify-content: space-around ;
  @include media-breakpoint-up(sm) {
    width: 33%;
  }
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: .3;
}

.circle {
  fill: none;
  stroke-width: 1;
  stroke-linecap: square;
  animation: progress 2s ease-out forwards;
  stroke: $primary;
  transform: rotate(90deg) scale(-1,1);
  transform-origin: center;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.percentage {
  fill: #666;
  text-anchor: middle;
}

.full-circle {
  width: 100%;
}