.text-primary {
  color: $primary !important;
}

.text-dark {
  color: $dark;
}

.text-darker {
  color: $darker;
}

.text-light {
  color: $light;
}

.text-lighter {
  color: $lighter;
}

.text-white {
  color: white;
}

.text-success {
  color: $success;
}

.text-danger {
  color: $danger;
}