.recent-products .view-hover {
  opacity: 0;
  transition: opacity $transition-speed ease;
}
.products-elem:hover {
  .products-pic {
    transition: border-color $transition-speed ease;
    border-color: $primary;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
  }
  & .view-hover {
    transition: opacity $transition-speed ease;
    opacity: 1;
  }
  & .elem-btn {
    transition: all $transition-speed ease;
    background-color: $primary;
    border-color: $primary;
  }
}

.grad-light-45:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  z-index: 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, .15) 100%);
}

.checked svg {
  opacity: 0;
}

.plan-picture {
  &-div {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      background: linear-gradient(180deg, rgba(60, 60, 60, 0.2) 0%, rgba(60, 60, 60, 0.7) 100%);
      z-index: 0;
      pointer-events: none;
    }
  }
}

.cards-hover {
  &:hover .plan-picture{
    transform: scale(1.1);
    transition: transform 1s ease;
  }
}