body {
  font-family: 'Open Sans', sans-serif;
}
/*
font-family: 'Dancing Script', cursive;
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">

*/

.h2 {
  font-size: 12px !important;
  line-height: 18px !important;
  margin-bottom: 0 !important;
  @include media-breakpoint-up(sm) {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  @include media-breakpoint-up(md) {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  @include media-breakpoint-up(xl) {
    font-size: 24px !important;
    line-height: 36px !important;
  }
}

.h3 {
  font-size: 10px;
  margin-bottom: 0;
  @include media-breakpoint-up(xl) {
    font-size: 16px;
    line-height: 20px  ;
  }
}

.simple-text {
  font-size: 10px;
  line-height: 15px;
  @include media-breakpoint-up(md) {
    font-size: 12px;
    line-height: 18px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 14px;
    line-height: 21px;
  }
}

.bold {
  @extend .font-weight-bold;
}

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}
// text-uppercase text-truncate font-weight-light