.search {
  pointer-events: none;
}

.dop-s {
  width: 200px;
  height: 100%;
  border-bottom: 1px solid pink;
  top: 50%;
  right: 30px;
  transform: translateY(-75%);
  opacity: 0;
}

.search:hover ~ .navbar-nav {
  opacity: 1;
}