.zel {
  width: 25px;
  height: 25px;
  background-color: darkolivegreen;
}

/*.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}*/

.w-110 {
  width: 110px;
}

.h-105 {
  height: 105px;
}

.h-425 {
  height: 425px;
}
//######################################################################################################################################################
//######################################################################################################################################################
//######################################################################################################################################################

.media-breakpoint {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  &:after {
    content: "xs";
    font-weight: bold;
    color: Crimson;
    font-size: 48px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
  @include media-breakpoint-up(sm) {
    &:after {
      content: "sm";
      color: Gold;
    }
  }
  @include media-breakpoint-up(md) {
    &:after {
      content: "md";
      color: DarkTurquoise;
    }
  }
  @include media-breakpoint-up(lg) {
    &:after {
      content: "lg";
      color: MediumVioletRed;
    }
  }
  @include media-breakpoint-up(xl) {
    &:after {
      content: "xl";
      color: ForestGreen;
    }
  }
}

* {
  outline: none !important;
}

body {
  min-width: 330px;
}

a {
  color: #e13d3d;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.pos-rel {
  @extend .position-relative;
}

.pos-abs {
  @extend .position-absolute;
}

.pos-fix {
  position: fixed;
}

.triangle {
  width: 14px;
  height: 10px;
  border: 6px solid transparent;
  border-top-color: white;
  transform: translateY(25%);
}

.dn {
  @extend .d-none;
}

.abs-cent {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-65%);
}

.elem-descr {
  height: 72px;
  overflow: hidden;
}

.products-pic {
  @include square-size(100%);
  object-fit: cover;
  transition: border-color .2s ease, box-shadow 2s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  pointer-events: none;
}

.count-view-posit {
  top: 75%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
}

.dot {
  margin: 8px;
  @include square-size(8px);
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
  &.active {
    background-color: #000;
  }
  @include media-breakpoint-up(xl) {
    @include square-size(14px);
  }
}

.prod-authors {
  height: 44px;
}

.head-two, .elem-pic {
  pointer-events: none;
}

.input {
  box-shadow: none;
  resize: none;
  outline: none;
  border: none;
}

.input-text {
  /*height: $form-height;
  padding: ($form-height - $form-line-height - ($form-border-width *2))/2 11px;*/
  width: 100%;
  height: 36px;
  padding: 7px 11px;
}

.my-input {
  width: 200px !important;
  height: 36px;
  padding: 7px 11px;
}

.input-theme {
  border-radius: 4px;
}

.textarea-height {
  height: 90px !important;
  @include media-breakpoint-up(xl){
    height: 95px !important;
  }
}

.plan-price {
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.cards {
  border-radius: 8px;
}

.cards-avat {
  bottom: 0;
  right: 15%;
  transform: translateY(50%);

  &-pic {
    object-fit: cover;
  }
}

.plan {
  &-picture {
    width: 100%;
    height: 100%;
    transition: 1.5s;
    &-div  {
      width: 100%;
      height: 150px;
      overflow: hidden;
      position: relative;
      display: block;
      z-index: 1;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
  }
  &-descr {
    height: 96px;
  }
}

.forms textarea {
  height: 94px;
}

.footer-up {
  border-bottom: 1px solid rgb(125, 125, 125);
}

.footer-block-list{
  border-top: 1px solid rgb(125, 125, 125);
  height: 205px;
}

.up {
  @include square-size(46px);
  //cursor: pointer;
  transition: background-color 2s ease;
  border: 1px solid rgba(146, 123, 71, .25);
  &:hover {
    background-color: rgb(217, 157, 38) !important;
  }
  &:focus {
    background-color: darken($primary, 40%);
  }
  &:visited {
    background-color: darken($primary, 10%);
  }
  &-position {
    bottom: 3%;
    right: 5%;
    transform: translateX(-50%);
  }
}


///////////////////////////////////////////////////////////////////////////////////

.checkbox-label {
  .checkbox {
    display: none;
    &:checked ~.custom-checkbox svg{
      display: block;
    }
  }
  .custom-checkbox svg {
    display: none;
  }
}

.custom-checkbox {
  margin-right: 10px;
}

///////////////////////////////////////////////////////////////////////////////////


.my-for-wow {
  width: 100px;
  height: 100px;
  background-color: limegreen;
  margin: 0 auto;
  display: flex;
  border-radius: 25%;
  color: white;
  cursor: pointer;
}

.burger {
  &-container {
    display: inline-block;
    background-color: #fff;
  }
  &-bar {
    display: block;
    height: 2px;
    width: 16px;
    background: #fff;
    margin: 4px auto;
    @include media-breakpoint-up(md) {
      height: 3px;
      width: 24px;
      border-top-right-radius: 50%;
      ;

    }
  }
}

@keyframes fadeInUpZ {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInUpZ {
  -webkit-animation-name: fadeInUpZ;
  animation-name: fadeInUpZ;
}