//////////////////////////////////COLOR
$light: #d8d8d8;

$dark:           #1f1f21;
$darker:         #4a4a4a;

$danger: #fc3d39;

///////////////////////////////// SIZES

$dot_size: 12px;

$soc-icon-size: 48px;

$v-side: 32px;

$burger-w: 47px;
$burger-h: 36px;

$close: 38px;

$mail: 26px;

//@import "../../node_modules/bootstrap/scss/bootstrap";